<!doctype html>
<html>
<head>
  <style>
    body {
        color: red;
        background: greenyellow;
    }
  </style>
</head>
<body>
<p>You have received a message from JobBoard site,
  from <%= "#{ @name }, #{ @email }"%></p>
<p><%= @body%></p>

</body>
</html>